@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

#map {
  height: 100%;
  width: 100%;
}
